@charset "utf-8";
/* CSS Document */

@import url("../fonts/pretendard/web/variable/pretendardvariable.css");

:root {

	--bs-font-sans-serif: 'Pretendard Variable', system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

	--line-color: hsl(0, 3%, 93%);;/*  */
	--form-border-color : var(--dark-400);
	--bc-color: hsl(180, 33%, 98%);
	--bc-white: hsl(0, 0%, 100%);
	--danger: hsl(345, 100%, 46%);
	--warning: hsl(40, 100%, 57%);
	--success: hsl(133, 100%, 27%);
	--information: hsl(222, 100%, 58%);

	--text-dark-0: hsl(0, 0%, 13%); 
	--text-dark-1: hsl(198, 10%, 35%);
	--text-dark-2: hsl(198, 10%, 45%);
	--text-dark-3: hsl(198, 10%, 55%);
	--text-dark-4: hsl(198, 10%, 65%);
	--text-dark-5: hsl(198, 10%, 75%);
	--text-dark-6: hsl(198, 10%, 85%);

	--text-dark-7: hsl(198, 10%, 95%);

	--bs-heading-color : var(--text-dark-0);

	/* New style */
	--txt_01:#1E2326; /* #1E2326 */
	--txt_02:#222; /* #222 */
	--txt_02_70: hsl(0, 0%, 13%, .7); /* #222 70% */
	--txt_02_80: hsl(0, 0%, 13%, .8); /* #222 80% */
	--txt_03:#333; /* #333 */
	--txt_03_80:hsl(0, 0%, 20%, .8); /* #333 80% */
	--txt_03_60:hsl(0, 0%, 20%, .6); /* #333 60% */
	--txt_04:#6C7073; /* #6C7073 */
	--txt_05:#757578; /* #757578 */
	--txt_06:#878F94; /* #878F94 */
	



	/* --third :  */
	--primary:#0092fa;  /* #0092fa */
	--primary2:#007BFF;  /* #007BFF */
	--primary3:#0C4485;  /* #0C4485 */
	--primary-100: hsl(195, 67%, 88%);
	--primary-200: hsl(194, 66%, 76%);
	--primary-300: hsl(194, 66%, 64%);
	--primary-400: hsl(194, 66%, 52%);
	--primary-500: hsl(194, 100%, 40%);
	--primary-600: hsl(194, 100%, 32%);
	--primary-700: hsl(194, 100%, 24%);
	--primary-800: hsl(194, 100%, 16%);
	--primary-900: hsl(195, 100%, 8%);
	--primary-50: hsl(192, 63%, 97%);

	--primary-c01: hsl(214, 68%, 57%); /* 상단 top bg */
	--primary-c02:#4888DC; /* aside current */
	--primary-c03: hsl(208, 99%, 50%);
	--primary-c04: hsl(214, 62%, 54%); /* label color - ok */
	--primary-c05: hsl(205, 100%, 49%); /* label color - ok2 */
	--primary-c06: hsl(211, 100%, 50%); /* active color */
	
	--sec1: hsl(199, 79%, 44%);  /* #1891C9 */

	/* --secondary-100: hsl(180, 45%, 91%);
	--secondary-200: hsl(182, 45%, 83%);
	--secondary-300: hsl(181, 45%, 74%);
	--secondary-400: hsl(182, 45%, 66%);
	--secondary-500: hsl(181, 45%, 57%);
	--secondary-600: hsl(182, 34%, 46%);
	--secondary-700: hsl(181, 34%, 34%);
	--secondary-800: hsl(182, 34%, 23%);
	--secondary-900: hsl(180, 34%, 11%);
	--secondary-50: hsl(180, 43%, 96%); */


	--third-100: hsl(200, 42%, 86%);
	--third-200: hsl(198, 41%, 72%);
	--third-300: hsl(199, 41%, 57%);  
	--third-400: hsl(198, 54%, 43%);  
	--third-500: hsl(199, 100%, 29%);  
	--third-600: hsl(198, 100%, 23%);  
	--third-800: hsl(198, 100%, 12%);  
	--third-900: hsl(200, 100%, 6%);  
	--third-700: hsl(199, 100%, 17%);
	--third-50: hsl(200, 42%, 96%);

	--dark-100: hsl(0, 0%, 91%);
	--dark-200: hsl(0, 0%, 82%);
	--dark-300: hsl(0, 0%, 73%);
	--dark-400: hsl(0, 0%, 65%);
	--dark-500: hsl(0, 0%, 56%);
	--dark-600: hsl(0, 0%, 45%);
	--dark-700: hsl(0, 0%, 33%);
	--dark-800: hsl(0, 0%, 22%);
	--dark-900: hsl(0, 0%, 11%);
	--dark-50: hsl(0, 0%, 97%);	
	--dark0: hsl(0, 0%, 13%); /* #222 */
	--dark1: hsl(0, 0%, 20%); /* #333 */
	--dark2: hsl(203, 6%, 55%);  /* #878F94 */

	--white-90: hsl(0, 0%, 100% , .9);
	--white-80: hsl(0, 0%, 100% , .8);
	--white-70: hsl(0, 0%, 100% , .7);
	--white-60: hsl(0, 0%, 100% , .6);
	--white-50: hsl(0, 0%, 100% , .5);
	--white-40: hsl(0, 0%, 100% , .4);
	--white-30: hsl(0, 0%, 100% , .3);
	--white-20: hsl(0, 0%, 100% , .2);
	--white-10: hsl(0, 0%, 100% , .1);

	--primary-primary-50: hsl(207, 71%, 42%);
	--gray-gray-0: hsl(0, 0%, 100%);
	--gray-gray-40: hsl(0, 0%, 78%);
	--gray-gray-70: hsl(0, 0%, 33%);
	--gray-gray-90: hsl(0, 0%, 11%);
	--gray-gray-20: hsl(0, 0%, 89%);
	--gray-gray-80: hsl(0, 0%, 18%);
	--gray-gray-50: hsl(0, 0%, 56%);



	--red-50:  hsl(0 86% 97%);
	--red-100: hsl(0 100% 94%);
	--red-200: hsl(0 100% 89%);
	--red-300: hsl(0 100% 82%);
	--red-400: hsl(0 98% 66%);
	--red-500: hsl(0 91% 60%);
	--red-600: hsl(0 78% 51%);
	--red-700: hsl(0 79% 42%);
	--red-800: hsl(0 76% 35%);
	--red-900: hsl(0 68% 31%);
	--red-950: hsl(0 80% 15%);
	
	/* --orange-50: #fff7ed;
	--orange-100: #feeed6;  
	--orange-200: #fdd8ab;  
	--orange-300: #fbbc76;  
	--orange-400: #f99e4e;  
	--orange-500: #f67819;  
	--orange-600: hsl(20 95% 46%);  
	--orange-700: hsl(19 86% 40%);  
	--orange-800: #983714;  
	--orange-900: #7b3013;  
	--orange-950: #421508; */   

	--orange-50 : hsl(32 100% 97%);
	--orange-100: hsl(31 100% 91%);
	--orange-200: hsl(29 100% 82%);
	--orange-300: hsl(28 100% 71%);
	--orange-400: hsl(23 100% 60%);
	--orange-500: hsl(21 100% 52%);
	/* --orange-600: hsl(16 100% 41%); */
	--orange-600: hsl(16, 99%, 43%);
	--orange-700: hsl(13 98% 40%);
	--orange-800: hsl(10 87% 34%);
	--orange-900: hsl(11 83% 28%);
	--orange-950: hsl(8 89% 15%);


	--blue-50 : hsl(214, 88%, 97%);
	--blue-100 : hsl(215, 89%, 93%);
	--blue-200 : hsl(215, 91%, 87%);
	--blue-300 : hsl(212, 91%, 78%);
	--blue-400 : hsl(214, 88%, 68%);
	--blue-500 : hsl(218, 85%, 57%);
	--blue-600 : hsl(222, 78%, 53%);
	--blue-700 : hsl(225, 71%, 48%);
	--blue-800 : hsl(227, 66%, 40%);
	--blue-900 : hsl(225, 61%, 33%);
	--blue-950 : hsl(227, 53%, 21%);


	--green-50 : #eefbf3;
	--green-100 : #d5f6df;
	--green-200 : #afebc5;
	--green-300 : #7bdaa4;
	--green-400 : #45c27f;
	--green-500 : #27bf73;
	--green-600 : #158650;
	--green-700 : #106c42;
	--green-800 : #105536;
	--green-900 : #0e462e;
	--green-950 : #06281a;


	/* --border-radius-4px : 4px;
	--border-radius-6px : 6px;
	--border-radius-8px : 8px; */

	--border-radius-5 : 5px;
	--border-radius-8 : 8px;
	--border-radius-10 : 10px;
	--border-radius-15 : 10px;
	--border-radius-20 : 20px;
	--border-radius-25 : 25px;

	--table-th-bg : #F4F6F7; 
	--table-td-line-color : hsl(192 10% 90%);
	--table-top-line-color : var(--dark-100);

	--disabled-bg : #E4E8E9;
	--disabled-line-color : #E4E8E9;
	--disabled-text-color:red;


	--scroll-track-color: #F4F6F7;
	--scroll-thumb-color: #546066;
	--scroll-size: 4px;

	--point01 : hsl(358, 91%, 69%);

	--bs-columns: 12;
	--bs-gap: var(--gap, 0);
}