#audioRecord{
	--plyr-audio-controls-background : var(--dark1-alpha05);
	/* --plyr-audio-control-color : #f00;  */

	width: 100%;
	height: auto;
	
}
.audio-recorder {
/* 	height:30px; */
}
.audio-recorder .recorder-title {
	display: none; /* 우선 안보이게 함_230323 */
	font-size: 14px;
	margin-bottom:3px;
}
.audio-recorder .recorder-box{
	/* 	width:300px; */
	position:relative; 
	/* background: #F00; */
	display: block;
	/* 	border:1px solid #A6A6A6; */
	padding:0px;
	/* 	box-shadow:2px 2px 5px 3px rgba(166,166,166, 0.3); */
}
.audio-recorder .recorder-box .audio-btm {
	padding-top:5px;
}
.audio-recorder .recorder-box .audio-btm .btm-file {
	font-size:12px;
	/* float:left; */
	border: 1px solid #dfdfdf;
	background: white;
	/* width: 200px; */
	padding: 3px;
	height: auto;
	line-height: 1.6;
	margin-top: 2px;
/* 	overflow: hidden;
	text-overflow: ellipsis; */
}
@keyframes recording-blink {
    50% { color: #FF0000; }
}
.audio-recorder .recorder-box .audio-btm .btm-file .recording {
	color:#000;
	animation: recording-blink 1s step-end infinite;
}
.audio-recorder .recorder-box .audio-btm .btm-btn {
	float:right;
	font-size:12px;
	margin-top:2px;
	margin-left:5px;
	cursor:pointer;
	border: 1px solid #888;
}
.audio-recorder .audio-header {
	margin-bottom:3px;
	display: flex;
	align-items : center;
}

.audio-recorder .audio-header .rec-file {
	font-size:14px;
	display:inline-block;
	line-height:24px;
}

.audio-recorder .recorder-btn {
	display:block;
	background: none;
	cursor: pointer;
	border:1px solid rgba(0,0,0,0);
	border-radius: 0px;
	padding: 0;
    height: 32px;
    width: 32px;
}
.audio-recorder .recorder-btn:hover {
	background-color: #F2F2F2;
	border:1px solid #808080;
	border-radius: 0px;
}
.audio-recorder .recorder-btn .icon {
	width: 24px;
    height: 24px;
    display: inline-block;
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2px;
}

.audio-recorder .recorder-btn.del-btn {
	width:26px;
	height:26px;
	padding:0;
	display: none;
}
.audio-recorder .recorder-btn.del-btn .icon {
	background-image: url('./images/delete.png');
	width:20px;
	height:20px;
	background-size: 20px 20px;
}

.audio-recorder .recorder-btn.audio-btn .icon {
	background-image: url('./images/mic.png');
}

@keyframes record-effect-mic {
	50% {background-image: url(./images/mic_on_red.png);}
}

.audio-recorder .ex-btn .icon {
	width: 24px;
    height: 24px;
    display: inline-block;
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 4px;
}
.audio-recorder .ex-btn:disabled {
	opacity: 0.4;
	cursor:default;
}
.audio-recorder .ex-btn.record-start .icon {
	background-image: url(./images/mic_on.png);
}
.audio-recorder .ex-btn.record-start:hover .icon {
	background-image: url(./images/mic_on_white.png);
}
.audio-recorder .ex-btn.record-start.notavail .icon {
	background-image: url(./images/mic_off.png);
}
.audio-recorder .ex-btn.record-start.notavail:hover .icon {
	background-image: url(./images/mic_off_white.png);
}
.audio-recorder .ex-btn.record-start.blink .icon {
	animation: record-effect-mic 1s step-end infinite;
}
.audio-recorder .ex-btn.record-stop .icon {
	background-image: url('./images/stop.png');
}
.audio-recorder .ex-btn.record-stop:hover .icon {
	background-image: url(./images/stop_white.png);
}
.audio-recorder .ex-btn.record-reset .icon {
	background-image: url('./images/reset.png');
}
.audio-recorder .ex-btn.record-reset:hover .icon {
	background-image: url('./images/reset_white.png');
}
.audio-recorder .error-msg {
	display: block;
	background-color: #FFF6F6;
    color: #9F3A38;
	box-shadow: 0px 0px 0px 1px #E0B4B4 inset, 0px 0px 0px 0px rgba(0, 0, 0, 0);
	margin: -5px;
	padding: 3px;
}
.audio-recorder .error-msg:before{
	content: "\f071";
	display: inline-block;
    opacity: 1;
    margin: 0 4px ;
    width: 1.18em;
    height: 1em;
    font-family: Icons;
    font-style: normal;
    font-weight: 400;
    text-decoration: inherit;
    text-align: center;
    speak: none;
    font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.audio-recorder .plyr__tooltip {
	background: #FDFDFD;
}