/*!
 * 
 * Product name/Version: SynapDocumentViewer 24.6.0
 * 
 */@page{margin:0 0 0 0}@media print{#header,#page-controlbar,#panel,#panelbar{display:none!important}body{-webkit-print-color-adjust:exact;color-adjust:exact;background-color:#fff}#container,#contents,#wrap{overflow:visible;display:block;position:static;background-color:#fff}.text{display:none}#cell-controlbar,#footer,.annotationlayer{display:none!important}}